accelerate==1.11.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.0
bitsandbytes==0.49.2
brotli==1.2.0
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961372591/work
certifi @ file:///C:/Users/task_177937038000344/croot/certifi_1779370454774/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832794697/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744944645/work
click==8.4.1
colorama==0.4.6
docker==7.1.0
exceptiongroup==1.3.1
fastapi==0.128.7
filelock @ file:///C:/Users/task_178170271463724/croot/filelock_1781703359629/work
fsspec==2026.6.0
gmpy2 @ file:///C:/miniconda3/conda-bld/gmpy2_1764748105976/work
gradio==6.13.0
gradio_client==2.5.0
groovy==0.1.2
h11==0.16.0
hf-gradio==0.4.1
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.36.2
idna @ file:///C:/Users/task_178056140106162/croot/idna_1780561468696/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
joblib==1.5.3
markdown-it-py==4.2.0
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
mdurl==0.1.2
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
networkx @ file:///C:/b/abs_b054htfn9t/croot/networkx_1737043671910/work
numpy==1.26.3
orjson==3.11.9
packaging==26.0
pandas==2.3.2
peft==0.17.1
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
psutil==7.2.2
pycparser @ file:///C:/Users/task_177495971250430/croot/pycparser_1774959822609/work
pydantic==2.13.4
pydantic_core==2.46.4
pydub==0.25.1
Pygments==2.20.0
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030270/work
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytz==2026.2
pywin32==312
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465513320/work
regex==2026.5.9
requests==2.32.5
rich==15.0.0
safehttpx==0.1.7
safetensors==0.8.0
scikit-learn==1.7.2
scipy==1.15.3
semantic-version==2.10.0
shellingham==1.5.4
six==1.17.0
starlette==0.52.1
sympy==1.13.1
threadpoolctl==3.6.0
tokenizers==0.22.2
tomlkit==0.14.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.68.3
transformers==4.57.1
typer==0.26.7
typing-inspection==0.4.2
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata==2026.2
urllib3 @ file:///C:/Users/task_177853593812673/croot/urllib3_1778536217005/work
uvicorn==0.40.0
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746276406/work
